<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menetrend Budapestről - Szegedre adott napon</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div id="container">
        <div id="header">
            <h1>Budapest - Szeged vonal egy napi teljesített menetidejei</h1>
            </div>
        <div id="body">
            <div id="menetrend">

            </div>
            <div id="urlap">
                <form id="listazashoz">
                <div id="vonatlista">
                    <label for="vonatId">Válassz egy vonatot</label>
                    <select id="vonat">
                        <% for(vonat of listak[0]) { %>
                            <option value='<%= vonat.vId %>'><%= vonat.vNev %></option>
                        <% } %>
                        
                    </select>
                </div>
                <div id="allomaslista">
                    <label for="allomasId">Válassz egy állomást</label>
                    <select id="allomas">
                        <% for(allomas of listak[1]) { %>
                            <option value='<%= allomas.aId %>'><%= allomas.aNev %></option>
                        <% } %>
                        
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">A vonat lekérdezése</button>
            </form>
                
            </div>
        </div>    
    </div>
    
</body>
</html>